.vs/
.vscode/
out/
x64-Debug/
x64-Release/
CMakeSettings.json

# Handy SDL2.dll at the ready, but out of place
SDL2.dll

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

*.un~
*.swo
*.swp
build/*
*.DS_Store
